
.box {
    background-color: hsl(215, 22%, 15%);
    max-width: 400px;
    margin: auto;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    align-items: start;
    padding: 30px;
}
@media only screen and (max-width: 600px) {
    .box {
        max-width: 375px;
        min-width: 275px;
    }
}
p {
    font-size: 15px;
    color: hsl(217, 12%, 63%);
    margin: 5px;
}
.text{
    color: hsl(0, 0%, 100%);
    margin: 5px auto;

}

img{
    margin: auto;
}
.boxForSelected{
    height: 40px;
    width: 175px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #262c36;
    color: #ac754b;
    border-radius: 30px;
    margin: auto;
    margin-top: 15px;
    margin-bottom: 10px;
}